<form class="box" action="/station/{{station._id}}/addreport" method="POST">
  <h2 class="title is-5">Enter New Report Details</h2>

  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label">Code</label>
        <div class="control">
          <input class="input" type="text" name="code" placeholder="00">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Temperature</label>
        <div class="control">
          <input class="input" type="text" name="mintemp" placeholder="00.0°C">
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label">Wind Speed</label>
        <div class="control">
          <input class="input" type="text" name="windspeed" placeholder="00.00 km/h">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Wind Direction</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="winddirection" required>
              <option value="" disabled selected>Select Direction</option>
              <option value="N">N (0°)</option>
              <option value="NE">NE (45°)</option>
              <option value="E">E (90°)</option>
              <option value="SE">SE (135°)</option>
              <option value="S">S (180°)</option>
              <option value="SW">SW (225°)</option>
              <option value="W">W (270°)</option>
              <option value="NW">NW (315°)</option>
            </select>
            </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Pressure</label>
        <div class="control">
          <input class="input" type="text" name="pressure" placeholder="000 hPa">
        </div>
      </div>
    </div>
  </div>

  <div class="field is-grouped is-grouped-left">
    <div class="control">
      <button class="button is-primary">Submit Report</button>
    </div>
  </div>
</form>
