{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    WeatherTop Weather Service
  </h3>
  <div class="section">
    <p>
      A Most Excellent Weather Service App
    </p>
  </div>
</section>