{{> menu active="dashboard"}}

<section class="box has-text-centered">
  <h3 class="is-3 title">
    Select or Add a Station
  </h3>
  <div class="section">
    {{> list-stations}}
    {{> add-station}}
  </div>
</section>
